.product-image {
    float: left;
    width: 16em;
    height: 15em;
    padding: 0 10px 10px 0px;
    margin-right: 20px;
}

#products {
    flex-direction: column;
    margin-bottom: 60px;
}

#descr {
    padding: 20px;
}

.to-best{
    position: relative;
    margin-top: 30px;
    left:-14px;
    margin-bottom: 100px;
}

.do-best{
    margin-right: 3px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
